*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(126, 117, 128);
}
/* estilos de imagen*/
bg-imagen1{
    width: 25px;
    height: 25px;
}
bg-imagen2{
    width: 25px;
    height: 25px;
}
bg-imagen3{
    width: 25px;
    height: 25px;
}
/*estilos de las card*/

